Makefile
Makefile.in
aclocal.m4
configure
libtool
autom4te.cache
stamp-h1
*.log
*.trs
.libs
html
man
doc
config.h
config.h.in
config.log
config.status
*.o
*.lo
*.la
*.mod
*.tar.gz
*~
m4
example1d
example_auto
example_auto_joined
example_auto_offset
example_err
example_joined
example_transform
example_transform_offset
bandwidth
a.out
